@import '../../assets/scss/define';
/*头部*/
.header{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    background-color: #28aeeb;
    height: 100rpx;
    text{
        font-size: 32rpx;
        color: #fff;
    }
}

/*用户*/
.user{
    @extend %df;
    @extend %aic;
    height: 100rpx;
    margin-top: 30rpx;
    padding-left: 29rpx;
}
.user-image{
    margin-right: 27rpx;
    width: 100rpx;
    height: 100rpx;
    background-color: #aaaaaa;
    border-radius: 50%;
}
.user-info{
    @extend %df1;
}
.user-text{
    @extend %db;
    font-size: 30rpx;
    color: #000;
}
.user-name{
    font-weight: bold;
}
.user-prompt{
    @extend %df;
    @extend %aic;
}
.user-strong-text{
    color: #28aeeb;
    padding: 0 10rpx;
}

/*蓝牙*/
.blue-tooth{
    @extend %pa;
    @extend %bsb;
    @extend %df;
    @extend %aic;
    top: 30rpx;
    right: 0;
    width: 120rpx;
    height: 100rpx;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border: solid #28aeeb 2rpx;
    border-right: none;
    padding-left: 52rpx;
}
.blue-tooth-icon{
    @extend %pa;
    @extend %t50;
    margin-top: -18rpx;
    left: 12rpx;
    width: 36rpx;
    height: 36rpx;
}
.blue-tooth-bar{
    width: 8rpx;
    height: 100rpx;
    background-color: #fff;
}
.blue-tooth-text{
    font-size: 28rpx;
    color: #28aeeb;
}

/*血糖*/
.main{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    margin-top: 150rpx;
}
.inner{
    @extend %pr;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: 450rpx;
    height: 450rpx;
    border-radius: 50%;
    &.nor{
        background-image: linear-gradient(#e9e9e9, #9ddfde, #00afaf);
        text{
            color: #00afaf;
        }
    }
    &.lit{
        background-image: linear-gradient(#e9e9e9, #38e0ee, #29b1eb);
        text{
            color: #29b1eb;
        }
    }
    &.low{
        background-image: linear-gradient(#e9e9e9, #b2b9cd, #a2aabe);
        text{
            color: #a2aabe;
        }
    }
    &.up{
        background-image: linear-gradient(#e9e9e9, #ff5656, #ff3a3a);
        text{
            color: #ff3a3a;
        }
    }
}
.con{
    @extend %df;
    @extend %aic;
    @extend %fdc;
    width: 410rpx;
    height: 410rpx;
    background-color: #fff;
    border-radius: 50%;
}
.num{
    margin-top: 100rpx;
    font-size: 166rpx;
    line-height: 140rpx;
}
.unit{
    margin-top: 10rpx;
    font-size: 22rpx;
}
.time{
    @extend %pa;
    @extend %r0;
    @extend %l0;
    @extend %tac;
    @extend %fwb;
    bottom: 88rpx;
    font-size: 30rpx;
}
.prompt{
    @extend %pa;
    @extend %l0;
    @extend %r0;
    @extend %b0;
    @extend %df;
    @extend %jcc;
    @extend %aic;
    background-color: #fff;
    height: 88rpx;
}
.prompt-text{
    @extend %db;
    font-size: 30rpx;
    color: #29aeeb;
}
.prompt-text-strong{
    @extend %fwb;
    margin-left: 5rpx;
}

.form-button{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    margin: 40rpx 60rpx 0;
    height: 80rpx;
    background-image: linear-gradient(to right, #39e2ee , #28aeeb);
    border-radius: 40rpx;
    &:last-child{
        margin-bottom: 80rpx;
    }
}
.form-button-te{
    background-image: none;
    background-color: #1e3666;
}
.form-button-text{
    color: #fff;
    font-size: 36rpx;
}


.button-wrap{
    @extend %df;
    justify-content: space-between;
    padding: 110rpx 60rpx 0;
}
.button-item{
    @extend %df;
    @extend %jcc;
    @extend %aic;
    width: 294rpx;
    height: 68rpx;
    border-radius: 34rpx;
    background-color: #1e3666;
    &:last-child{
        background-color: transparent;
        background: linear-gradient(to right, #39e2ee , #28aeeb);
    }
    text{
        font-size: 30rpx;
        color: #fff;
    }
}

.footer{
    @extend %df;
    @extend %pf;
    @extend %b0;
    @extend %w100;
    @extend %l0;
    height: 110rpx;
    background: linear-gradient(to right, #39e2ee , #28aeeb);
}
.footer-button{
    @extend %h100;
    @extend %df1;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    image{
        width: 40rpx;
        height: 40rpx;
        margin-right: 10rpx;
    }
    text{
        @extend %fwb;
        @extend %cfff;
        font-size: 36rpx;
    }
}
