@import '../../assets/scss/define';
.bluetooth{
    @extend %df;
    @extend %fdc;
    @extend %jcc;
    @extend %aic;
    padding: 20rpx 0;
    line-height: 1.5;
    text{
        @extend %db;
        font-size: 20rpx;
        color: #999;
    }
}
