@import '../../assets/scss/define';
/*头部*/
.header{
    @extend %pr;
    @extend %oh;
    height: 568rpx;
    padding: 0 60rpx;
}
.header-bg{
    @extend %db;
    @extend %pa;
    @extend %t0;
    @extend %l0;
    @extend %w100;
    @extend %h100;
}
.user-head{
    @extend %pr;
    @extend %oh;
    border-radius: 50%;
    width: 100rpx;
    height: 100rpx;
    background-color: #28aeeb;
    margin-top: 42rpx;
}
.user-image{
    @extend %db;
    @extend %w100;
    @extend %h100;
    border-radius: 50%;
    background-color: #28aeeb;
}
.prompt{
    @extend %pr;
    font-size: 30rpx;
    color: #fff;
    margin-top: 23rpx;
}
.num-info{
    @extend %pr;
    height: 170rpx;
}
.num-value{
    font-size: 166rpx;
    color: #fff;
    line-height: 170rpx;
}
.num-unit{
    font-size: 22rpx;
    color: #fff;
}
.conclusion-text{
    @extend %pr;
    font-size: 50rpx;
    color: #fff;
}
.progress{
    @extend %pr;
    margin: 30rpx 0 20rpx;
    height: 7rpx;
    background-color: #fff;
    border-radius: 7rpx;
}

.text{
    @extend %pr;
    @extend %fwb;
    font-size: 36rpx;
    color: #fff;
}

// 日历
.calendar{
    padding: 53rpx 60rpx 0;
}
.calendar-title{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    height: 88rpx;
    background-image: linear-gradient(to right, #3bddf2, #2cbdf0);
}
.title-text{
    @extend %fwb;
    font-size: 36rpx;
    color: #fff;
}
.calendar-inner{
    //box-shadow: 0 20rpx 0 1rpx rgba(59,221,242,.1);
}
.calendar-con{
    @extend %df;
    height: 60rpx;
    &:nth-child(odd){
        background-color: #f7f7f9;
    }
}
.calendar-item{
    @extend %pr;
    @extend %df;
    @extend %df1;
    @extend %aic;
    @extend %jcc;
    height: 60rpx;
    &.color-f7f7f9{
        background-color: #f7f7f9;
    }
    &.color-fff{
        background-color: #fff;
    }
}
.calendar-text{
    @extend %db;
    @extend %pr;
    color: #333;
    font-size: 22rpx;
}
.calendar-text-disabled{
    color: #999;
}
.calendar-active{
    .calendar-text{
        color: #fff;
    }
    .calendar-type{
        @extend %db;
    }
}
.calendar-type{
    @extend %dn;
    @extend %pa;
    @extend %t50;
    @extend %l50;
    margin-top: -20rpx;
    margin-left: -20rpx;
    width: 40rpx;
    height: 40rpx;
    border-radius: 50%;
    background-color: #28aeeb;
}

.footer{
    @extend %df;
    justify-content: space-between;
    padding: 53rpx 60rpx 80rpx;
}
.footer-button{
    height: 80rpx;
    width: 289rpx;
    border-radius: 40rpx;
}
.footer-button-text{
    font-size: 36rpx;
    color: #fff;
}
