@import '../../../assets/scss/define';
/*头部*/
.header{
    @extend %df;
    @extend %fdc;
    @extend %jcc;
    @extend %aic;
    height: 268rpx;
    padding: 0 60rpx;
    background: linear-gradient( #24a3db , #51c5de);
    line-height: 1.5;
    text{
        color: #fff;
    }
}
.header-prompt{
    font-size: 46rpx;
}
.header-text{
    @extend %db;
    font-size: 30rpx;
}

.tab{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    height: 105rpx;
    padding: 0 60rpx;
}
.tab-btn{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    text{
        font-size: 30rpx;
        color: #686868;
    }
}
.tab-prompt{
    @extend %df1;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    margin: 0 20rpx;
    text{
        font-size: 36rpx;
        color: #28aeeb;
    }
}

.table-head{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %bsb;
    height: 150rpx;
    background-image: linear-gradient(#e9e9e9, #fff);
}
.table-title{
    @extend %df;
    @extend %aic;
    margin-right: 30rpx;
    image{
        width: 68rpx;
        height: 68rpx;
        margin-right: 15rpx;
    }
    text{
        font-size: 46rpx;
        color: #28aeeb;
    }
}
.table{
    border-top: 1rpx solid #ebebeb;
}
.tr{
    @extend %df;
    @extend %aic;
    @extend %bsb;
    height: 65rpx;
    border-bottom: 1rpx solid #ebebeb;
    &:first-child{
        height: 72rpx;
    }
}
.td{
    @extend %h100;
    @extend %df1;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    border-right: 1rpx solid #ebebeb;
    &:last-child{
        border-right: none;
    }
    &.td-0-0{
        background-color: #ebebeb;
        text{
            @extend %fwb;
            color: #8c8c8c;
        }
    }
    &.td-0-1{
        background-color: #28aeeb;
        text{
            color: #fff;
        }
    }
    &.td-1-0{
        font-size: 18rpx;
        text{
            color: #28aeeb;
        }
    }
    &.up{
        text{
            color: #ff3a3a;
        }
    }
    &.nor{
        text{
            color: #00afaf;
        }
    }
    &.low{
        text{
            color: #29b1eb;
        }
    }
}
.text{
    font-size: 24rpx;
    &.num{
        font-size: 36rpx;
    }
}
.status{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: 30rpx;
    height: 4rpx;
    background-color: #ebebeb;
}
.explain{
    @extend %df;
    @extend %aic;
    @extend %jcc;
}
.explain-item{
    @extend %df;
    @extend %aic;
    margin: 0 10rpx;
    &.up{
        text{
            color: #ff3a3a;
        }
    }
    &.nor{
        text{
            color: #00afaf;
        }
    }
    &.low{
        text{
            color: #29b1eb;
        }
    }
}
.explain-icon{
    width: 30rpx;
    height: 30rpx;
    margin-right: 10rpx;
}
.explain-text{
    font-size: 36rpx;
}

.weekly{
    margin-top: 60rpx;
}
.weekly-head{
    @extend %df;
    @extend %jcc;
    @extend %bsb;
    height: 268rpx;
    padding: 45rpx 60rpx 0;
    background: linear-gradient( #24a3db , #51c5de);
    text{
        font-size: 32rpx;
        color: #fff;
    }
    &.null{
        height: 180rpx;
    }
}
.weekly-cell{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    margin: -128rpx 60rpx 0;
    height: 170rpx;
    background-color: #fff;
    border-radius: 10rpx;
    box-shadow: 0 2rpx 10rpx 0 rgba(0,0,0,0.1);
    text{
        color: #28aeeb;
    }
}
.weekly-cell-text{
    margin-right: 56rpx;
    text{
        @extend %db;
        font-size: 36rpx;
    }
}
.weekly-cell-time{
    font-size: 100rpx;
}
.weekly-cell-unit{
    margin: 60rpx 0 0 10rpx;
    font-size: 22rpx;
}

.weekly-info{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    height: 314rpx;
}
.weekly-info-item{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %fdc;
    width: 200rpx;
    height: 220rpx;
    margin: 0 8rpx;
    &.nor{
        background-color: #f4fbfe;
        text{
            color: #00afaf;
        }
        .weekly-info-con{
            border-top: 1rpx solid #00afaf;
        }
    }
    &.low{
        background-color: #f9fdf5;
        text{
            color: #29b1eb;
        }
        .weekly-info-con{
            border-top: 1rpx solid #29b1eb;
        }
    }
    &.up{
        background-color: #fff8f6;
        text{
            color: #ff3a3a;
        }
        .weekly-info-con{
            border-top: 1rpx solid #ff3a3a;
        }
    }
    text{
        font-size: 30rpx;
    }
    .weekly-info-num{
        font-size: 100rpx;
    }
    .weekly-info-unit{
        font-size: 22rpx;
        margin-top: 55rpx;
        margin-left: 5rpx;
    }
}
.weekly-info-con{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: 140rpx;
    margin-top: 20rpx;
    text{
        @extend %db;
    }
}

.reminder{
    margin-bottom: 70rpx;
}
.reminder-title{
    @extend %df;
    @extend %aic;
    padding: 0 60rpx;
    text{
        font-size: 46rpx;
        color: #555555;
        margin-right: 20rpx;
    }
    image{
        width: 68rpx;
        height: 68rpx;
    }
}
.reminder-num{
    @extend %df;
    @extend %aic;
    padding: 0 60rpx;
    text{
        font-size: 100rpx;
        color: #ff7f52;
    }
}
.reminder-num-prompt{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %bsb;
    width: 68rpx;
    height: 44rpx;
    border-top-right-radius: 22rpx;
    border-bottom-right-radius: 22rpx;
    border: 2rpx solid #ff7f52;
    border-left: none;
    margin: 20rpx 0 0 30rpx;
    text{
        font-size: 22rpx;
        color: #ff7f52;
    }
}

.reminder-data{
    @extend %df;
    //@extend %aic;
    //@extend %jcc;
    padding: 0 60rpx;
    margin: 30rpx 0 40rpx;
    //justify-content: space-between;
}
.reminder-data-item{
    //@extend %df1;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %fdc;
    text{
        font-size: 100rpx;
    }
    &.nor{
        text{
            color: #00afaf;
        }
        .prompt-text{
            border-color: #00afaf;
        }
    }
    &.low{
        text{
            color: #29b1eb;
        }
        .prompt-text{
            border-color: #29b1eb;
        }
    }
    &.up{
        text{
            color: #ff3a3a;
        }
        .prompt-text{
            border-color: #ff3a3a;
        }
    }
}
.prompt-text{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %bsb;
    width: 124rpx;
    height: 44rpx;
    border: 2rpx solid #ddd;
    border-radius: 22rpx;
    text{
        font-size: 22rpx;
    }
}

.reminder-text{
    padding: 0 60rpx;
    margin-bottom: 30rpx;
    text{
        font-size: 30rpx;
        color: #6b6b6b;
    }
    .color{
        color: #5ec2f0;
    }
}
.proposal{
    @extend %pr;
    @extend %bsb;
    margin: 40rpx 20rpx 0;
    padding: 20rpx 40rpx;
    border: 2rpx solid #bee7f9;
    line-height: 1.5;
    text{
        @extend %db;
        font-size: 30rpx;
        color: #5ec2f0;
    }
}
.proposal-text{
    margin-top: 10rpx;
}
.proposal-arrow{
    @extend %pa;
    top: -10rpx;
    left: 40rpx;
    width: 20rpx;
    height: 20rpx;
    transform: rotate(-45deg);
    border-color: #bee7f9;
    border-top-width: 2rpx;
    border-top-style: solid;
    border-right-width: 2rpx;
    border-right-style: solid;
    background-color: #fff;
}

.footer{
    @extend %df;
    @extend %aic;
    line-height: 1.5;
    padding: 80rpx 0;
    background-color: #f5f5f5;
    text{
        color: #28aeeb;
    }
}
.footer-item{
    @extend %df1;
    @extend %df;
    @extend %fdc;
    @extend %aic;
    @extend %jcc;
}
.left-icon{
    width: 79rpx;
    height: 83rpx;
}
.left-prompt{
    @extend %fwb;
    font-size: 46rpx;
    margin: 10rpx 0;
}
.footer-text{
    font-size: 30rpx;
}
.right-icon{
    width: 171rpx;
    height: 171rpx;
    margin: 10rpx 0;
}
