@import '../../../assets/scss/define';
/*头部*/
.banner{
    @extend %pr;
    @extend %oh;
    height: 574rpx;
    padding: 0 60rpx;
    line-height: 1.5;
    text{
        @extend %pr;
        @extend %db;
        color: #28aeeb;
    }
}
.banner-image{
    @extend %pa;
    @extend %w100;
    @extend %h100;
    @extend %t0;
    @extend %l0;
}
.title{
    margin: 220rpx 0 30rpx;
    font-size: 66rpx;
}
.prompt-text{
    font-size: 30rpx;
}
.sub-title{
    font-size: 36rpx;
    margin-top: 60rpx;
}



.from-wrap{
    margin-bottom: 60rpx;
}
.from-item{
    @extend %df;
    @extend %bsb;
    @extend %aic;
    height: 98rpx;
    border-bottom: 1px solid #efeff4;
    &.from-no-value{
        input{
            padding-right: 20rpx;
        }
    }
}
.from-label{
    @extend %db;
    font-size: 36rpx;
    color: #575757;
    padding-left: 60rpx;
    margin-right: 20rpx;
}
.from-value{
    @extend %df1;
    height: 50rpx;
    input{
        @extend %db;
        @extend %w100;
        @extend %h100;
        @extend %tar;
        @extend %bsb;
        padding-right: 60rpx;
        font-size: 36rpx;
        color: #969696;
    }
}
.from-unit{
    padding-right: 60rpx;
    font-size: 36rpx;
    color: #969696;
}
.from-code{
    @extend %df;
    @extend %bsb;
    @extend %aic;
    @extend %jcc;
    width: 152rpx;
    height: 60rpx;
    border: 2rpx solid #28aeeb;
    margin-right: 60rpx;
    text{
        color: #28aeeb;
        font-size: 26rpx;
    }
    &.from-code-disabled{
        border: 2rpx solid #ddd;
        text{
            color: #999;
        }
    }
}
.from-radio{
    @extend %df;
    @extend %aic;
    padding-right: 60rpx;
    justify-content: flex-end;
}
.from-radio-item{
    @extend %df1;
    @extend %df;
    @extend %aic;
    padding-left: 60rpx;
    justify-content: flex-end;
}
.from-radio-image{
    width: 32rpx;
    height: 32rpx;
}
.from-radio-text{
    font-size: 36rpx;
    color: #969696;
    margin-left: 20rpx;
}
.arrow{
    width: 20rpx;
    height: 20rpx;
    transform: rotate(45deg);
    border-color: #c0c0c0;
    border-top-width: 1rpx;
    border-top-style: solid;
    border-right-width: 1rpx;
    border-right-style: solid;
    margin: 0 60rpx 0 -30rpx;
}

.agreement{
    @extend %df;
    @extend %aic;
    margin-top: 110rpx;
    padding-left: 60rpx;
    text{
        font-size: 28rpx;
    }
}
.agreement-check{
    //@extend %pr;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %bsb;
    width: 30rpx;
    height: 30rpx;
    border: 2rpx solid #28aeeb;
    margin-right: 20rpx;
    text{
        font-size: 28rpx;
    }
}
.agreement-check-inner{
    width: 18rpx;
    height: 18rpx;
    background-color: #28aeeb;
}
.agreement-text{
    color: #28aeeb;
}



.form-button{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    margin: 42rpx 60rpx 80rpx;
    height: 80rpx;
    background: linear-gradient(to right, #39e2ee , #28aeeb);
    border-radius: 40rpx;
}
.form-button-text{
    color: #fff;
    font-size: 36rpx;
}


.pop-wrap{
    z-index: 9;
    @extend %pf;
    @extend %t0;
    @extend %l0;
    @extend %r0;
    @extend %b0;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    background-color: rgba(0,0,0,0.4);
}
.pop-inner{
    @extend %bsb;
    @extend %pr;
    height: 920rpx;
    width: 668rpx;
    background-color: #fff;
    border-radius: 5rpx;
    padding: 0 60rpx;
}
.pop-header{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    padding: 40rpx 0 20rpx;
    image{
        width: 70rpx;
        height: 70rpx;
        margin-right: 20rpx;
    }
    text{
        font-size: 48rpx;
        color: #28aeeb;
    }
}
.pop-con{
    height: 620rpx;
    text{
        font-size: 26rpx;
        color: #6a6a6a;
    }
}
.pop-button{
    @extend %pa;
    @extend %l50;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    border-radius: 34rpx;
    margin-left: -200rpx;
    width: 400rpx;
    height: 68rpx;
    bottom: 45rpx;
    background: linear-gradient(to right, #39e2ee , #28aeeb);
    text{
        color: #ffffff;
        font-size: 30rpx;
    }
}
.input-placeholder{
    color: #999;
    font-size: 32rpx;
}
