@import '../../../assets/scss/define';
.wrap{
    background-color: #f5f5f5;
}
/*头部*/
.header{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    background-color: #28aeeb;
    height: 100rpx;
    text{
        font-size: 32rpx;
        color: #fff;
    }
}
.session{
    margin-top: 20rpx;
    border-bottom: 1rpx solid #f5f5f5;
    border-top: 1rpx solid #f5f5f5;
}
.time{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    border-bottom: 1rpx solid #f5f5f5;
    text{
        font-size: 30rpx;
        color: #000;
    }
}
.con{
    @extend %df;
    @extend %aic;
}
.con-item{
    @extend %df1;
}
.con-line{
    height: 50rpx;
    width: 1rpx;
    background-color: #f5f5f5;
}
.label{
    font-size: 46rpx;
    color: #ddd;
}
.value{
    font-size: 46rpx;
    color: #ddd;
}
.unit{
    font-size: 46rpx;
    color: #ddd;
}

.footer{
    @extend %df;
    justify-content: space-between;
    padding: 53rpx 60rpx 80rpx;
}
.footer-button{
    width: 289rpx;
    border-radius: 44rpx;
}
.footer-button-text{
    font-size: 36rpx;
    color: #fff;
}
