@import '../../../assets/scss/define';
page{
    background-color: #f5f5f5;
}
/*头部*/
.header{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    background-color: #28aeeb;
    height: 100rpx;
    text{
        font-size: 32rpx;
        color: #fff;
    }
}
.session{
    margin-top: 20rpx;
    border-bottom: 1rpx solid #eee;
    border-top: 1rpx solid #eee;
    background-color: #fff;
}
.time{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %bsb;
    height: 100rpx;
    border-bottom: 1rpx solid #eee;
    text{
        font-size: 30rpx;
        color: #6b6b6b;
    }
    .color{
        color: #28aeeb;
    }
}
.con{
    @extend %df;
    @extend %aic;
    height: 260rpx;
}
.con-item{
    @extend %df1;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %fdc;
}
.con-line{
    height: 94rpx;
    width: 2rpx;
    background-color: #f2f2f2;
}
.label{
    font-size: 36rpx;
    color: #6b6b6b;
}
.value{
    font-size: 80rpx;
    color: #28aeeb;
}
.unit{
    @extend %db;
    font-size: 30rpx;
    color: #6b6b6b;
    height: 34rpx;
}

.footer{
    @extend %df;
    justify-content: space-between;
    padding: 53rpx 60rpx 80rpx;
}
.footer-button{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: 289rpx;
    border-radius: 44rpx;
    height: 88rpx;
    background-image: linear-gradient(to right, #3bddf2, #2cbdf0);
}
.footer-button-text{
    font-size: 36rpx;
    color: #fff;
}
