@import '../../../assets/scss/define';
/*头部*/
.inner{
    height: 2004rpx;
    image{
        @extend %w100;
        @extend %h100;
    }
}
.header{
    @extend %bsb;
    @extend %oh;
    height: 774rpx;
    padding: 60rpx 60rpx 0;
    margin-bottom: 80rpx;
    background: linear-gradient( #24a3da , #52c6dd);
    text{
        color: #fff;
    }
}
.title{
    font-size: 60rpx;
}
.session{
    margin-top: 50rpx;
    line-height: 1.1;
}
.session-title{
    @extend %df;
    @extend %aic;
}
.image{
    width: 45rpx;
    height: 45rpx;
    margin-right: 10rpx;
}
.text{
    font-size: 36rpx;
}
.session-prompt{
    font-size: 26rpx;
}
.button{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    margin: 0 60rpx 40rpx;
    height: 80rpx;
    background: linear-gradient(to right, #39e2ee , #28aeeb);
    border-radius: 40rpx;
}
.button-text{
    color: #fff;
    font-size: 36rpx;
}
.footer{
    @extend %df;
    justify-content: space-between;
    padding: 50rpx 60rpx 35rpx;
    border-top: 1rpx solid #f0eff5;
}
.footer-button{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: 289rpx;
    height: 68rpx;
    border-radius: 34rpx;
    background-image: linear-gradient(to right, #3bddf2, #2cbdf0);
    &.color{
        background-image: none;
        background-color: #1e3666;
    }
}
.footer-button-text{
    font-size: 30rpx;
    color: #fff;
}
.prompt{
    @extend %db;
    @extend %tac;
    font-size: 24rpx;
    color: #555555;
    margin-bottom: 80rpx;
}
